.panel-footer.panel-custom {
    background: rgb(105, 105, 105);
    color: white;
    
}


.container {
  background-color: #ffffff;
  padding-top: 20px;
}

html body {
    background-color: rgb(246, 248, 244);
}

.navbar-custom{
    background-color: rgba(4, 123, 145, 0.664);
    
}

/*.footer {
    font-size: .8em;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top:10px;
    padding-bottom:10px;
    background-color: #f5f5f5;
}*/

}